.explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .exam-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
  }
  
  .exam-item {
    background-color: #f0f8ff; /* Light blue background for all items */
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .exam-item:hover {
    background-color: #ffffff; /* Vibrant pink color on hover */
    color: white;
  }
  