.header {
    background-color: #00bfff; /* Bluish-green background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    width: 100px; /* Set your desired logo width */
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-info {
    margin-right: 20px;
  }
  
  .profile-actions a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  
  .prepare-section a {
    margin-right: 15px;
    color: white;
    text-decoration: none;
  }
  