<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span routerLink="/blog">ng-blog</span>
      <span class="spacer"></span>
      <div >
              <span> username</span>
              <button mat-raised-button color="accent" 
              routerLink="/dashboard">New Post</button>
              <button mat-button >Logout</button>
      </div>
      <ng-template #showLogin>
        <button mat-button>Google Login</button>
      </ng-template>
    </mat-toolbar-row>
</mat-toolbar> -->