<div class="home-container">
    <div class="article">
        <h1 >Welcome to our Exam Preparation Blog</h1>
  
        <div class="category-section">
          <h3>Programming Languages</h3>
          <ul>
            <li><a routerLink="/c-cplusplus-java-python">Blogs on C, C++, Java, Python</a></li>
          </ul>
        </div>
        
        <div class="category-section">
          <h3>Data Structures and Algorithms</h3>
          <ul>
            <li><a routerLink="/dsa-competitive-coding">Blogs on DSA, Competitive Coding</a></li>
          </ul>
        </div>
        
        <div class="category-section">
          <h3>Placement and Recruitment</h3>
          <ul>
            <li><a routerLink="/placement-papers-recruitment">Blogs on Placement Papers, Recruitment Process</a></li>
          </ul>
        </div>
        
        <div class="category-section">
          <h3>Aptitude, HR, and Puzzles</h3>
          <ul>
            <li><a routerLink="/aptitude-hr-puzzles">Blogs on Aptitude, HR, Puzzles</a></li>
          </ul>
        </div>
        
        <div class="category-section">
          <h3>Exam Preparation Resources</h3>
          <ul>
            <li><a routerLink="/previous-year-questions">Previous Year Questions</a></li>
            <li><a routerLink="/learning-coding-top-100-codes">Learning Coding, Top 100 Codes, etc.</a></li>
          </ul>
        </div>
        <button  routerLink="/header" class="explore-button">Explore</button>
    </div>
  </div>
  